body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


/* nav */

.header-container {
    max-width: 1393px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEE;
    height: 54px;
}

.nav-items {
    display: flex;
    column-gap: 54px;
}

.nav-link {
    font-size: 16px;
    color: #2F3131;
}

.login-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.login-text {
    color: #2F3131;
    font-size: 16px;
}

.login-img {
    width: 26px;
    height: 26px;
}


/* header-contcts-info */

.header-contcts-info {
    display: flex;
    height: 100px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
    column-gap: 43px;
}
.logo-img {
    width: 172px;
    height: 66px;
}
.logo-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2F3131;
}
.header-contacts {
    display: flex;
    text-align: center;
    column-gap: 42px;
}
.header-contact {
 
}
.contact-phone {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 1.2;
}
.contact-desc {
    font-weight: 700;
    line-height: 1.2;
}
.contact-btn {
    margin-left: 64px;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-btn-call {
    font-weight: 700;
    line-height: 1.3;
    color: #2F3131;
    padding: 17px 57px;
    border-radius: 8px;
    background-color: #FFCC34;
    align-items: center;
    transition: background-color 0.3s linear;
}

.contact-btn-call:hover {
    background-color: #ffa734;
}


/* header-categories */

.header-menu{
    background-color: #00728F;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-menu-link {
    font-weight: 700;
    line-height: 24;
    color: #ffffff;
}


/* header-content */

.header-content {
    background-image: url('../images/backgrounds/background-header.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    justify-content: space-around;
    height: 567px;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.header-content-left {
    text-align: left;
    max-width: 350px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.header-content-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.35;
    color: #2F3131;
    margin-bottom: 35px;
}

.header-content-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    max-width: 225px;
}

.header-content-right {
    width: 315px;
}

.header-form {
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    margin: 106px 0 153px 0;
    padding: 28px 45px 32px 45px;
    border-radius: 7px;
}

.header-form-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 10px;
}

.header-form-input {
    margin-bottom: 18px;
    background: #ffffff;
    border: 1px solid #979797;
    border-radius: 8px;
    height: 45px;
    width: 100%;
    font-size: 14px;
    color: #979797;
    padding: 18px;
}

.header-form-btn {
    color: #2F3131;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 14px 56px;
    background-color: #FFCC34;
    border-radius: 8px;
    transition: background-color 0.3s linear;
}

.header-form-btn:hover {
    background-color: #ff8f34;
}

