body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    position: relative;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1556px;
    margin-left: auto;
    margin-right: auto;
}


/* top */

.top {
    display: flex;
    height: 54px;
    align-items: center;
    background-color: #EFEFEE;
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
}

.top-menu {
    display: flex;
    align-items: center;
    column-gap: 54px;
}

.top-menu a {
    color: #2F3131;
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    height: 26px;
    padding-left: 43px;
    color: #2F3131;
    font-size: 18px;
    background-image: url("../images/icon/login-circle.svg");
    background-repeat: no-repeat;
    background-position: left center;
}


/* top2 */

.top2 {
    padding: 20px 0 16px 0;
    background-color: #ffffff;
}

.top2-wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 43px;
}

.logo span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2F3131;
    font-weight: bold;
}

.top2-cont {
    display: flex;
    column-gap: 42px;
    align-items: center;
}

.top2-col{
    text-align: center;
}

.top2-phone {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-weight: 700;
}

.top-phone-label {
    color: #2F3131;
    font-size: 14px;
    font-weight: 700;
    line-height: 0.5;
}

.top2-btn {
    color: #2F3131;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 14px 56px;
    background-color: #FFCC34;
    border-radius: 8px;
    margin-left: 64px;
    transition: background-color 0.3s linear;
}

.top2-btn:hover {
    background-color: #ff8f34;
}


/* top3 */

.top3 {
    background-color: #016C88;
    padding: 27px 0;
}

.top3-wrapper {
    text-align: center;
}

.top3-menu {
    display: inline-flex;
    column-gap: 92px;
}

.top3-menu-item {
    font-size: 20px;
    color: #ffffff;
}